<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Link_Shortener</title>
		<!-- JS Dependencies -->
		<script src="javascripts/vendor/jquery/jquery.min.js"></script>
		<!-- Styles -->
		<link href="stylesheets/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="contain">
			<input type="text" id="urlInput" value="http://www.google.com"></input>
			<button id="urlGo">Go</button>
		</div>
		<!-- Program Script -->
		<script src="javascripts/main.js"></script>
	</body>
</html>
